<p>products works!</p>
<div class="mt-5">
  <form #addProductForm="ngForm">
    <!-- (ngSubmit)="addProd()" -->
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Enter name"
        [(ngModel)]="products.name"
        name="name"
        #nameInput="ngModel"
        required
      />
      <div
        *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
        class="text-danger"
      >
        Name is required.
      </div>
    </div>
    <div class="form-group">
      <label for="price" class="mt-4">Price</label>
      <input
        type="number"
        class="form-control"
        id="price"
        placeholder="Enter price"
        [(ngModel)]="products.price"
        name="price"
        #priceInput="ngModel"
        required
      />
      <div
        *ngIf="priceInput.invalid && (priceInput.dirty || priceInput.touched)"
        class="text-danger"
      >
        Price is required.
      </div>
    </div>
    <label for="category" class="mt-4">category</label>
    <select
      id="search"
      class="form-control mb-4 m-auto"
      [(ngModel)]="products.category"
      name="category"
    >
      <option selected disabled value="">Select category</option>
      <option value="shoes">Shoes</option>
      <option value="watches">Watches</option>
      <option value="perfume">Perfume</option>
    </select>
    <button
      type="submit"
      class="btn btn-primary my-4"
      [disabled]="addProductForm.invalid"
      (click)="addOrUpdateProd()"
    >
      {{ isUpdateMode ? "Update" : "Submit" }}
    </button>
  </form>
</div>
